@media (max-width: 1440px) {
    .main_page {
        width: 100%;
        .left_column {
            padding: 20px;
        }
    }
}

@media (max-width: 768px) {
    .main_page {
        flex-direction: row;
        .left_column {
            max-width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .main_page {
        flex-direction: row;
    }
}
