@import "../../utils/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color;
    font-family: $font-family;
}

.main_page {
    background-color: $main-color;
    max-width: 1920px;
    width: 100%;
    max-height: 455px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .left_column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
        max-height: 455px;
        max-width: 50%;

        &_firt_block {
        }
        h1 {
            font-size: 24px;
            color: #003366;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
            line-height: 1.5;
        }

        .button_container {
            display: flex;
            align-items: center;
            button {
                color: #fff;
                border: none;
                font-size: 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease;
                cursor: pointer;
                padding: 12px 12px 12px 24px;
                border-radius: 60px;
                background-color: #244c98;
                img {
                    margin-left: 10px;
                }
                &:hover {
                    background-color: #0d5ff1;
                }
            }
        }
    }

    .right_column {
        display: flex;
        justify-content: center;
        align-items: center;
        &_image_container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 100%;
            background-color: #f0f0f0;

            img {
                max-width: 910px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

//Media
@media (max-width: 1440px) {
    .main_page {
        width: 100%;
        .left_column {
            padding: 20px;
        }
    }
}

@media (max-width: 768px) {
    .main_page {
        flex-direction: row;
        .left_column {
            max-width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .main_page {
        flex-direction: row;
    }
}
